<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("./header.ejs") %>

    <h1>All Books</h1>
    <ul>
      <% books.map(book => { %>
      <li>
        <%= book.book_title %>
        <a href= <%="/books/" + book.book_id %>>Details</a>
      </li>
      <% }) %>
    </ul>
    <a href="/books/create">Add a New Book</a>

    <!-- <%- include("./footer.ejs") %> -->
  </body>
</html>
