<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("./header.ejs") %>

    <div>
        <h1> <%=book.title%> </h1>
         <span>ID : <%=book.id%> </span>
    </div>

    <!-- <%- include("./footer.ejs") %> -->
  </body>
</html>
