<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include("./header.ejs") %>
    <h1>All Publishers</h1>
    <ul>
        <% publishers.map(publisher => { %>
        <li>
          <%= publisher.title %>
          <a href= <%="/publishers/" + publisher.id %>>Details</a>
        </li>
        <% }) %>
      </ul>
    
    <!-- <%- include("./footer.ejs") %> -->
</body>
</html>